.company {
  float: left;
  width: 230px;
  height: 280px;
  background-color: #fff;
  margin-left: 22cm;
  margin-top: 2cm;
  border-radius: 12px;
  color: black;
  padding-top: 3mm;
}

.image {
  border: 0.5px solid;
  border-radius: 100%;
  border-color: rgb(207, 207, 207);
}

.view-more {
  height: 35px;
  width: 100px;
  padding-top: 1mm;
  border-color: rgb(60, 130, 235);
  color: rgb(60, 130, 235);
  border: 1px solid;
  outline: none;
  margin-top: 4mm;
  border-radius: 19px;
}

.view-more:hover {
  transition: all ease-in-out 0.2s;
  outline: none;
  background-color: rgb(60, 130, 235);
  text-transform: none;
  color: rgb(232, 241, 255);
}
