.header{
	width: 100%;
	height: 60px;
	background-color: blue;
	margin: 0;
}

.inheader{
  list-style: none;
  border:none;
  background-color:none;
  margin: 0;
  padding:0;
}

.left{
  float: left;
  margin-left:8px;
}