{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="stylesheet" href="{% static 'images/css/uicons-regular-rounded.css' %}">



    <title>Carousel Template for Bootstrap</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body style="background-color:#26272e">

    <header>
      
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="color: black; background-color:#26272e; height: 100px; border-bottom: solid 1.3px; border-bottom-color:#323339;">
        <a class="navbar-brand" href="{% url 'home' %}" style="margin-left: 10%;">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse " id="navbarCollapse">


          <form method="GET" action="{% url 'companies' %}">
            <input type='submit' value=" " class="search" style="
            margin-top: 3.1mm;
            margin-bottom:3mm;
            background-color: #39383e;
            border-top-right-radius: 0px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
            width: 40px;
            height: 40px;
            background-image: url({% static 'images/svg/fi-rr-search.png' %});
            background-repeat: no-repeat;
            border: none;
            background-size: 20px 20px;
            background-position: center;
            ">
            <input type='text' name='q' placeholder='search companies' value="{{ request.GET.q }}" class="search-bar" style=" padding-bottom:1mm; padding-top: 1mm;">
            
          </form>



          <ul class="navbar-nav navbar-right mr-auto" style="float:right; margin-left:48%; position:absolute;">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'companies' %}" style="padding-left: 5mm;
                padding-right: 5mm;">Companies <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'addcompany' %}" style="padding-left: 5mm;
              padding-right: 5mm;">Add a company</a>
            
            </li>
            {% endif %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about_page' %}" style="padding-left: 5mm;
              padding-right: 5mm;">About us</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" style="padding-left: 5mm;
              padding-right: 5mm;">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'login' %}" style="padding-left: 5mm;
              padding-right: 5mm;">Login</a>
            </li>
            {% endif %}
          </ul>
          
        </div>
      </nav>
    </header>



</body>
</html>