
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
</style>
<br>
<br>
	{% if query %}
	 <h4 style="margin-left: 10%; margin-top: 1.2cm;">you searched for "{{ query }}"</h4>
	{% endif %}
	<div style="height:auto; max-width: 90%; margin-left: 3.2cm; margin-right: 4cm;">
<link rel="stylesheet" href="{% static 'css/companylist.css' %}">
	
	{% if company %}
	{% for companies in company %}
	
	<center>
		<div style="margin-left:6mm; margin-top: 8mm" class="company">
			
			{% if user.is_authenticated %}
			<div style="margin:0;">
			<a href="{% url 'company-update' companies.id %}">edit</a>  |
			<a href="{% url 'company-delete' companies.id %}">delete</a>
			</div>
			{% else %}
			<div style="margin-top: 2mm;"></div>
			{% endif %}
			
			
			
			
			<img class="rounded-circle image" src="{{companies.logo.url}}" alt="Generic placeholder image" width="100" height="100" style="margin-top:6.5mm">
			<h3 style="margin-top: 3mm; padding-left: 5mm; padding-right: 5mm;">{{companies.name}}</h3>
			<a href="{% url 'company-detail' companies.id %}" style="text-decoration:none" ><div class="view-more">view more</div></a>
			<!-- <h4>{{companies.description.20}}</h4> -->
			
		</div>
		
	</center>
	{% endfor %}
	</div>
	{% else %}
	<h3 style="color:#FFF; margin-left: 35%; padding-top:1cm"><b>"{{ request.GET.q }}"</b> didn't match any results</h3>
	<center>
		<br>
		<br>
		<img src="{% static 'images/404.png' %}" alt="" style="width: 250px; height:250px; opacity: 0.4;">
	</center> 
	{% endif %}


{% endblock %}